---
import Layout from '../layouts/Layout.astro';
import { LoginForm } from '../components/react/LoginForm';
---

<Layout title="Acceso Admin | Xmartika">
  <div class="min-h-screen flex items-center justify-center bg-slate-50 relative overflow-hidden">
    
    {/* Fondo decorativo (Igual que el resto del sitio) */}
    <div class="absolute inset-0 opacity-[0.03] pointer-events-none">
       <div class="absolute inset-0 bg-[url('/grid-pattern.svg')]"></div>
    </div>
    
    <div class="absolute top-0 left-0 w-full h-full overflow-hidden pointer-events-none">
       <div class="absolute top-[-10%] right-[-5%] w-[500px] h-[500px] bg-teal-200/20 rounded-full blur-[100px]"></div>
       <div class="absolute bottom-[-10%] left-[-5%] w-[500px] h-[500px] bg-blue-200/20 rounded-full blur-[100px]"></div>
    </div>

    {/* Formulario React */}
    <div class="relative z-10 w-full flex justify-center px-4">
      <LoginForm client:load />
    </div>

  </div>
</Layout>